@font-face {
    font-family: League Gothic Regular; /* Имя шрифта */
    src: url(../fonts/league-gothic.regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: OpenSans Light; 
    src: url(../fonts/BZtaYRro.ttf); 
}
body {
	margin: 0 auto;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	
}
.wrapper-top {
	height: 278px;
}
.clearfix {
	content: "";
	display: block;
	clear: both;
}
header {
	height: 850px;
	background-image: url(../img/Background_header.jpg);
	background-position: center;
}
.logo {
	float: left;
	margin-top: 78px;
}
.menu {
	margin-top: 78px;
	float: left;
	padding-left: 175px;
}
.menu li{
	display: inline-block;
	text-decoration: none;
	line-height: 35px;
	vertical-align: middle;
	padding-right: 50px;
}
.menu a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: League Gothic Regular, sans-serif;
	text-transform: uppercase;
}
.menu a:hover {
	border-bottom: 2px solid #edbfff;
}
.hidden {
	visibility: hidden;
}
.wrapper-slider {
	height: 400px;
	width: 100%;
	background-color: rgba(32, 32, 32, 0.5);
}
.wrapper-slider article {
	width: 500px;
	color: white;
	font-family: OpenSans Light , sans-serif;
	font-size: 14px;
}
.wrapper-slider h1 {
	font-size: 36px;
	font-family: League Gothic Regular, sans-serif;
	padding-top: 95px;
}
.wrapper-slider h2 {
	font-size: 25px;
	font-family: League Gothic Regular, sans-serif;
	color: #edbfff;
	text-transform: uppercase;
}
.wrapper-slider p {
	line-height: 1.5;
}

.wrapper-slider .Iphone {
	position: absolute;
	top: -12px;
	right: 78px;
	z-index: 5;
}
.wrapper-slider .wrapper {
	height: 400px; ;
}

.wrapper-slider .left_arrow {
	position: absolute;
	top: 200px;
	left: -15%;
}
.wrapper-slider .right_arrow {
	position: absolute;
	top: 200px;
	right: -10%;
}
.slider_switch {
	position: absolute;
	top: 90px;
	left: 710px;
}
.content-top {
	height: 342px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,735082+1,34263b+100 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top,  #2989d8 0%, #735082 1%, #34263b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2989d8 0%,#735082 1%,#34263b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2989d8 0%,#735082 1%,#34263b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#34263b',GradientType=0 ); /* IE6-9 */
}

.content-top  article{
	position: relative;
	width: 260px;
	float: left;
	margin-top: 80px;
	margin-right: 10px;
	margin-left: 50px;
}
.content-top  h1 {
	display: block;
	font-size: 25px;
	font-family: League Gothic Regular, sans-serif;
	color: white;
	text-transform: uppercase; 
	margin-bottom: 17px;
}
.content-top p {
	width: 225px;
	color: white;
	font-family: OpenSans Light, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}
.content-top a {
	display: block;
	color: white;
	font-size: 16px;
	text-decoration: none;
	padding-left: 140px;
	padding-top: 25px;
	text-transform: uppercase;
	font-family: League Gothic Regular, sans-serif;

}
.content-top img {
	position: absolute;
	top: 8px;
	left: -50px;
}

.testemonials {
	position: relative;
	float: left;
	margin-top: 132px;
	margin-left: 40px;
	width: 430px;
	background: url(../img/testemonials-form.png);
	padding-right: 40px;

}
.testemonials h1{
	font-size: 26px;
	font-family: League Gothic Regular, sans-serif;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.testemonials span {

	font-size: 25px;
	font-family: League Gothic Regular, sans-serif;
	color: #edbfff;
	text-transform: uppercase;
}
.testemonials .face{
	position: absolute;
	top: -14px;
	left: -69px;
}
.testemonials .slider {
	position: absolute;
	top: 270px;
	left: 175px;
}
.testemonials p{
	line-height: 1.5;
	font-size: 16px;
	font-family: OpenSans Light , sans-serif;
}
.updates {
	position: relative;
	float: left;
	margin-top: 132px;
	width: 436px;
	height: 358px;
	margin-bottom: 20px;
}
.updates h1 {
	font-size: 26px;
	font-family: League Gothic Regular, sans-serif;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.update-item {
	position: relative;
	width: 430px;
	height: 72px;
}

.update-item  img {
	float: left;
}
.update-item  p {
	line-height: 1.5;
	font-size: 14px;
	font-family: OpenSans Light , sans-serif;
}
.update-item  b {
	font-weight: bold;
} 
.p_adjust {
	padding-top: 10px;
}
.updates a{
	display: block;
	font-size: 16px;
	color: black;
	text-decoration: none;
	padding-left: 354px;
	text-transform: uppercase;
	font-family: League Gothic Regular, sans-serif;
}
.logos {
	clear: both;
	position: relative;
	width: 960px;
	margin: 0 auto;
	height: 125px;
	text-align: center;
	background: url(../img/logos.png);
	background-repeat: no-repeat;
	background-position: center center;
}
footer {
	width: 100%;
}
.footer-top {
	height: 396px;
	background: #ececec;
	border: 1px solid #d8d8d8;
}
.footer-item {
	width: 272px;
	height: 200px;
	overflow: hidden;
	float: left;
	padding-top: 100px;
	padding-right: 48px;
}
.footer-item h1{
	font-size: 35px;
	font-family: League Gothic Regular, sans-serif;
	padding-bottom: 20px;
}
.footer-item h2 {
	font-size: 20px;
	font-family: League Gothic Regular, sans-serif;
	padding-bottom: 17px;
	text-transform: uppercase;
}
.footer-item em {
	color: #cccccc;
	display: block;
	font-style: italic;
	padding-bottom: 17px;
}
.footer-item p {
	line-height: 1.5;
	font-size: 16px;
	font-family: OpenSans Light , sans-serif;
}
.footer-item span {
	color:#b9b9b9;
}
.footer-menu {
	clear: both;
	position: relative;
	width: 100%;
	height: 115px;
	background: url(../img/footer-background.png);
	text-align: center;
	vertical-align: middle;
}
.menu-bottom {
	margin: 0 auto;
	padding-top: 55px;
	padding-left: 0px;
}

.Design {
	float: right;
	padding-top: 55px;
	color: white;
}
.footer-menu .wrapper span {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
}


@media screen and (max-width: 768px) {
	.wrapper {
		width: 715px;
		margin: 0 auto;
		padding-left: 20px;
	}

	.menu {
	margin-top: 30px;
	float: left;
	padding-left: 0px;
	}
	.content-top  article{
	width: 160px;
	float: left;
	margin-top: 80px;
	margin-right: 28px;
	}
	.content-top p {
		width: 160px;
	}
	.footer-item {
	width: 184px;
	}
	.slider_switch {
		position: absolute;
		top: 90px;
		left: 510px;
	}
	.testemonials {
		width: 230px;
	}
	.wrapper-slider .left_arrow {
	position: absolute;
	top: 200px;
	left: 0px;
	}
	.wrapper-slider .right_arrow {
	position: absolute;
	top: 200px;
	left: 670px;
	}
	.wrapper-slider article {
		width: 290px;
	}
	.content-top a {
		padding-left: 80px;
	}
	.logos {
		width: 715px;
	}

	.testemonials .slider {
		position: absolute;
		top: 350px;
		left: 0px;
	}
	.updates {
		width: 330px;
	}
	.update-item {
		width: 330px;
	}
	.updates a {
		padding-left: 250px;
	}
	.footer-menu {
		height: 200px;
	}
}
@media screen and (max-width: 480px) {
	.wrapper {
		width: 470px;
		padding-left: 30px;
	}
	.wrapper-top .menu {
		visibility: hidden;
	}
	.wrapper-top .hidden {
		visibility: visible;
	}
	.hidden {
		clear: both;
		position: absolute;
		margin: 112px  0 0 81px;
		text-align: center;
		width: 245px;
		height: 230px;
		border: 1px solid black;
		background: #483b4e;
		border-radius: 20px;
		opacity: 0.7;
		z-index: 8;
	}
	.hidden li{
		display: block;
		text-decoration: none;
		line-height: 35px;
		vertical-align: middle;
	}
	.hidden a {
		text-decoration: none;
		color: white;
		font-size: 20px;
		font-family: League Gothic Regular, sans-serif;
		text-transform: uppercase;
	}
	.hidden li:hover{
		border-bottom: 2px solid #edbfff;
		background: #322936;
	}

	.logo {
		display: block;
		margin: 66px 0 0 112px;
		text-align: center;
		height: 37px;
	}
	.logo a{
		display: block;
		margin-top: 66px;
	}

	.Iphone {
	width: 180px;
	height: 260px;
	}
	.wrapper-slider h1 {
		font-size: 27px;
	}
	.wrapper-slider h2 {
		font-size: 15px;
	}
	.wrapper-slider p {
		visibility: hidden;
	} 
	.wrapper-slider .right_arrow {
		position: absolute;
		top: 90px;
		left: 425px;
	}
	.wrapper-slider .left_arrow {
		position: absolute;
		top: 90px;
		left: 0px;
	}

	.slider_switch {
		position: absolute;
		top: 90px;
		left: 240px;
	}
	.content-top {
		height: 592px;
	}
	.content-top article {
		width: 430px;
		float: left;
		padding-left: 20px;
		margin-top: 40px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.content-top p {
		width: 360px;
	}
	.content-top article img {
		position: absolute;
		 top: 8px;
    	left: -20px;
	}
	.content-top article a {
		padding-left: 280px;
	}
	.testemonials {
		margin-top: 96px;
		margin-left: 40px;
		width: 385px;
	}
	.testemonials .slider {
		top: 240px;
		left: 175px;
	}
	.footer-top {
		height: 668px;
		width: 100%
	}
	.footer-item {
		width: 90%;
		height: 160px;
		padding-top: 60px;
	}
	.footer-item em {
		display: none;
	}
	.logos {
		clear: both;
		position: relative;
		width: 100%;
		margin: 0 auto;
		height: 230px;
		text-align: center;
		background: url(../img/logos480.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.menu {
		margin-top: 78px;
		float: left;
		padding-left: 0px;
	}
	.menu li{
		display: inline-block;
		text-decoration: none;
		line-height: 35px;
		vertical-align: middle;
		padding-right: 30px;
	}
	.footer-menu .menu-bottom a {
		font-size: 14px;
		
	}
	.footer-menu {
	clear: both;
	position: relative;
	width: 100%;
	height: 115px;
	background: url(../img/footer-background.png);
	}
	.menu-bottom {
	margin: 0;
	padding-top: 0px;
	padding-left: 0px;
	}
	.Design {
		float: none;
	}
}
@media screen and (max-width: 320px) {
	.wrapper {
		width: 300px;
		margin-left:0;
	}
	.wrapper-top{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.wrapper-top .logo {
		margin-left: 25%;
		padding: 0;
	}
	.wrapper-top .hidden {
		margin: 110px 0 0 30px;
		padding: 0;
	}
	.wrapper-slider .Iphone {
	visibility: hidden;
	}
	.wrapper-top .hidden {
		visibility: hidden;
	}
	.wrapper-top .hidden li:first-child {
		visibility: visible;
	}
	.hidden a {
		border-bottom: 2px solid #edbfff;
	}
	.wrapper-slider article{
		padding-left: 30px;
	}
	.wrapper-slider .right_arrow {
		position: absolute;
		top: 90px;
		left: 278px;
	}
	.wrapper-slider .slider_switch {
		position: absolute;
		top: 90px;
		left: 114px;
	}
	.content-top {
		height: 670px;
	}
	.content-top article {
		width: 80%;
		padding-left: 20px;
	}
	.content-top p {
		width: 90%;
	}
	.content-top article a {
		padding-right: 0px;
		padding-left: 140px;
	}
	.testemonials {
		width: 75%;
		padding: 0;
	}
	.testemonials p {
		width: 80%;
		font-size: 14px;
	}
	.testemonials .slider {
		position: absolute;
		top: 345px;
		left: 50px;
	}
	.updates {
		width: 90%;
	}
	.updates p {

	}
	.update-item {
		width: 90%;
	}
	.update-item p {
		font-size: 12px;

	}
	.updates a{
		padding-top: 10px;
		padding-left: 170px;
	}
	.logos {
		clear: both;
		position: relative;
		width: 100%;
		margin: 0 auto;
		height: 300px;
		text-align: center;
		background: url(../img/logos320.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	.menu-bottom {
		visibility: hidden;
	}
	.Design {
		margin: 0 auto;
		padding: 0;
	}
}