/*Header*/
.wrapper{
	width: 950px;
	margin: 0 auto;
	font-family: Tahoma, sans-serif;
}
header {
	width: 909px;
	margin: 0 auto;
	line-height: 25px;
	margin-top: 22px;
}
.call {
	float: left;
	font-family: Arial;
	font-size: 18px;
	color: #5e696d;
	margin-right: 14px;
}
.call span {
	padding-left: 5px;
	letter-spacing: 0.5px;
}
.call span:before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url(../img/Phonepic.png);
	vertical-align: middle;
	background-repeat: no-repeat;
	padding-right: 6px;
}
.call img {
	padding-right: 3px;
	vertical-align: middle;
}
.login {
	float: left;
	line-height: 26px;
	width: 495px;
	font-family: Arial, sans-serif;
	background: #1d6181;
	border-radius: 5px;
	margin-right: 15px;
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.7);
}
.login a{
	font-size: 12px;
	color: #bfbfbf;
	vertical-align: middle;
}
.login form {
	display: inline-block;
}
.login img {
	vertical-align: middle;
	padding-left: 6px;
}
input{
	width: 116px;
	line-height: 18px;
	font-size: 11px;
	padding: 0;
	text-indent: 3px;
	border: 1px solid gray;
	vertical-align: middle;
	font-family: Tahoma, sans-serif;
}
input[type="submit"]{
	width: 35px;
	color: white;
	border: none;
	border-right: 1px solid white;
	background: #1b5b7c;
	font-size: 12px;
	padding-right: 5px;
	outline: none;
	vertical-align: middle;
}
.registration{
	font-size: 11px;
	color: white;
	text-decoration: none;
	margin-right: 15px;
}
.topright {
	float: left;
	width: 70px;
	border: 1px solid #c1c8cb;
	border-radius: 15px;
	line-height: 19px;
	padding: 0 3px;
	text-align: center;
}
.picture img{
	margin-top: 8px;
}
header:after {
   content: ".";
   visibility: hidden;
   display: block;
   clear: both;
   width: 0;
   height: 0;
}
/*Navigation*/
nav{
	width: 909px;
	line-height: 32px;
	margin: 0 auto;
	background: #1d2124;
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.7);
	border-radius: 5px;
}
nav ul{
	display: inline-block;
	margin-left: 130px;
}
nav li{
	display: inline-block;
	line-height: 25px;
}
nav li a{
	color: #b1bcc0;
	font-size: 14px;
	text-decoration: none;
	padding: 0 15px;
}
nav li a:hover {
	background: #154b6d; 
	border-radius: 15px;
	color: white;
}
.basket {
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin-left: 55px;
}
.basket p{
	color: #929b9f;
	float: right;
	margin-right: 10px;
}
.basket span{
	color: #0d5a8f;
}
.basket img {
	vertical-align: middle;
	padding-right: 5px;
}
.basket p:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*Select*/
.select {
	width: 909px;
	height: 160px;
	margin: 0 auto;
	border: 1px solid black;
}
/*Content*/
.content{
	width: 909px;
	height: 628px;
	margin: 0 auto;
}
.ring {
	width: 12px;
	height: 12px;
	border: 5px solid #114165;
	border-radius: 100%;
}
.leftcolumn{
	float: left;
	width: 180px;
}
main{
	float: left;
}
.rightcolumn{
	float: left;
}
.catalog span:before{
	content: '';
	display: inline-block;
	width: 22px;
	height: 23px;
	background-image: url(../img/catalog.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}
.catalog{
	width: 175px;
	border: 1px solid #8b979c;
	border-radius: 15px;
	padding: 2px;
	margin-bottom: 15px;
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.50);
}
.catalog span{
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	color: #114165;
	vertical-align: middle;
	line-height: 25px;
}
.ring{
	position: relative;
	top: 1px;
	float: left;
	margin-right: 3px;
	vertical-align: middle;
}
.listheader{
	line-height: 25px;
	width: 146px;
	padding: 2px 0 2px 4px;
	margin-bottom: 7px;
	border: 1px solid #79878d;
	border-radius: 15px;
	vertical-align: middle;
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	color: #114165;
	vertical-align: middle;
}
.leftcolumn .list li{
	list-style-type: circle;
	margin-left: 40px;
	margin-bottom: 10px;
}
.leftcolumn .list a{
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	color: #465961;
	text-decoration: none;
	margin-left: -10px;
	vertical-align: middle;
}
.leftcolumn .list a:hover{
	font-style: Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #0c3256;
}

main {
	width: 503px;
	height: 628px;
	margin-left: 13px;
	padding-left: 22px;
	background: #c8d0d4;
}
main .item {
	display: inline-block;
	text-align: center;
	margin-right: 28px;
	margin-top: 16px;
	margin-bottom: 14px;
	width: 136px;
	height: 175px;
}
.item .image{
	width: 136px;
	height: 125px;
	margin-bottom: 5px;
	background-color: white;
	border: 1px solid #afbabe;
	border-radius: 15px;
	text-align: center;
	vertical-align: middle;
}
.item .image img{
	margin-top: 3px;
}
.item p{
	font-size: 15px;
	color: #206988;
}
.item p span{
	font-size: 13px;
	color: #1f2528;
}
.item .price{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #114165;
	font-size: 16px;
}
.item .price span{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #114165;
	font-size: 12px;
}

.rightcolumn{
	margin-left: 5px;

}
.rightcolumn input{
	width: 30px;
	margin-right: 15px;
}
.rightcolumn .labels{
	margin-bottom: 10px;
}
.rightcolumn span{
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	color: #114165;
}
.rightcolumn .list{
	margin-left: 10px;
}
.rightcolumn .submit{
	width: 80px;
	margin-left: 5px;
	border:none;
	border-radius: 15px;
	padding: 5px 13px;
	font-style: Arial, sans-serif;
	font-size: 11px;
	color: #e5e9ea;
	outline: none;
	cursor: pointer;
	background: #1f6585; 
}
.rightcolumn .list li{
	list-style-type: square;
	margin-left: 40px;
	margin-bottom: 10px;
}
.rightcolumn .list a{
	font-family: Tahoma,sans-serif;
	font-size: 13px;
	color: #465961;
	text-decoration: none;
	margin-left: -10px;
	vertical-align: middle;
}
.rightcolumn .list a:hover{
	font-style: Arial, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #0c3256;
}
.brands{
	text-align: center;
	margin-top: 38px;
}
.brands img{
	padding-bottom: 25px;
}
/*footer*/
footer{
	width: 909px;
	height: 100px;
	margin: 0 auto;
	background-color: #213a4d;
	text-align: center;
}
footer li{
	display: inline-block;
	margin-top: 12px;
	line-height: 11px;
	border-left: 1px solid #bec6c9
}
footer li:first-child{
	border: none;
}
footer a{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #bec6c9;
	padding: 0 10px;
}
footer a:hover{
	color: #52abcb;
}
footer p{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #7f4740;
	margin-top: 12px;
}
