
body{
	background-image: url(../img/background.png);
	padding-top: 38px;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	-webkit-box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
}

/* HEADER */
header{
	height: 175px;
}
.logo {
	float: left;
	margin-top: 11px;
	margin-left: 25px;
}

}
.contacts p {
	float: right;
	font-size: 12px;
	font-family: Tahoma;
	color: #128aa7;
}

.flags  {
	
}
.flags li{
	display: inline-block;
	margin-right: 15px;
	text-align: center;
}
.flags a {
	font-size: 10px;
	color: #128aa7;
	font-family: Tahoma;
}



/* Picture */
.picture {
	margin-top: 10px;
	border: 1px solid #128aa7;
}

/* NAVBAR */
.navbar{
	position: relative;
	background-color: #323232;
	border-bottom: 1px solid black;
	-webkit-box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px 1px rgba(0,0,0,0.75);
}
.navbar a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-family: Tahoma;
}
.navbar>ul>li{
	display: inline-block;
	line-height: 30px;
	padding-left: 60px;	
}
.drop-menu ul{
	position: absolute;
	visibility: hidden;
	line-height: 30px;
	background-color: #323232;
	padding: 5px 45px 10px 10px;
}
.drop-menu:after{
	content: '';
	display: inline-block;
	height: 6px;
	width: 5px;
	margin-left: 9px;
	
}
.drop-menu:hover ul{
	visibility: visible;
}
/* CONTENT */
.content{
	height: 540px;
	overflow: hidden;
}
.info{
	padding-top: 10px;
	float: left;
	width: 20%;
	background-color: #edeef0;
	border-right: 1px solid #c7cacf;
	margin-bottom: 10000px;
	padding-bottom: 10000px;
}
.main-content{
	width: 59%;
	float: left;
	margin-bottom: 10000px;
	padding-bottom: 10000px;
}
.news{
	padding-top: 10px;
	float: right;
	width: 20%;
	background-color: #edeef0;
	border-left: 1px solid #c7cacf;
	margin-bottom: 10000px;
	padding-bottom: 10000px;
}
.content h3{
	font-family: Tahoma;
	font-size: 18px;
	color: #424c43;
	text-align: center;
}
.content p{
	font-family: Tahoma;
	font-size: 14px;
	color: #424c43;
	line-height: 1.5;
	text-align: center;
}
/* FOOTER */
footer{
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
	color: white;
	margin-top: 10px;
}